<%= render 'shared/errors', obj: @user %>

<div class="card p-3 shadow">
  <%= form_with(model: @user, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <%= f.submit(@user.new_record? ? "Sign Up" : "Update Details", class: "btn btn-primary btn-block") %>
  <% end %>
</div>