<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Budget App", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if logged_in? %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to  "Accounts", accounts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Entries", entries_path, class: "nav-link" %>
      </li>
      <% if current_user.admin %>
      <li class="nav-item">
        <%= link_to "Users", users_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
  <% else %>
  <div class="mr-auto"></div>
  <% end %>

  <% if logged_in? %>
  <div class="dropdown">
    <button style="color: white" class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Hello, <%= current_user.username %><%= ' (admin)' if current_user.admin? %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "Log out", logout_path, class: "dropdown-item", method: :delete %>
      <%= link_to "Delete profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
  <% else %>
  <%= link_to "Log in", login_path, class: "btn btn-primary" %>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary ml-2" %>
  <% end %>
</nav>